#counter{
    background-image: url('../images/counter/counter_bg.png');
    .counter_content{
        padding: 50px 0px;
        .items{
            display: flex;
            justify-content: center;
            padding-top: 55px;
            .item{
                width: 255px;
                gap: 30px;
                &.item2{
                    border-left: 1px solid var(--grey);
                    border-right: 1px solid var(--grey);
                }
                h3{
                    font-size: 48px;
                    text-align: center;
                    margin-bottom: 30px;
                    line-height: 48px;
                }
                p{
                    font-size: 18px;
                    line-height: 18px;
                }
                h3,p{
                    text-align: center;
                    color: var(--white);
                }
            }
        }
    }

}